* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 107%;
  color: #FFFF;
  background-color: #15202B;
}

.HoriBarStyle {
  border-bottom: 0.1em solid #8899A6;
  width: 35%;
  margin: 0.5em auto;
}

.Maincont {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 5% 0;
  /* border: 2px solid; */
}

.Maincont > div > div > h2  {
  margin: 0.5em;
}

.Maincont > div > div> p {
  font-size: 0.8em;
}

.Mainlogo {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  border: 0.1em solid;
  border-color: #8899A6;
}

.Main-button-cont {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 21%;
}

.Main-logo-cont {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.Main-logo-cont img {
  height: 1em;
  width: 1em;
  color: #FFF;
}

.Favorite-Content {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid white; */

}


.Favorite-Card-Content {
  display: flex;
  text-align: center;
  justify-content: center;
  /* border: 1px solid white; */

}

.Favorite-Card > img.img-fluid {
  width: 100%;
}

div.Projects-Content-Page {
  display:flex;
  flex-direction: column;
  gap:3em;

}

div.Projects-Content-Page {
  text-align: center;
}

 /* most outer border/div*/
div.Project-Card-Container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1.5em;
  flex-wrap: wrap;
  /* border: 2px solid white; */

}

/* div.Projects-Card-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5em;
  flex-wrap: wrap;

}
 */
div.card-text-center {
  max-width: 18em;
  max-height: fit-content;
  font-size: 0.7em;
  padding: 0.7em 0em;
  border: 1px solid white;
  border-radius: 0.5em;
  box-shadow: 1px 1px 5px 0 rgba(255, 255, 255, 255);
}

img.card-img {
  width: 5em;
}
/* container for the cards inside projects content page */









.Default-Links {
  text-decoration: none;
  margin: 0 0.5em;
  border:0.05em solid #8899A6;
  padding:0.35em 1.2em;
  border-radius:0.2em;
  font-weight:100;
  color:#FFF;
  text-align:center;
  transition: all 1.3s;

}

.Default-Links:hover{  
  color:#000000;  
  background-color:#FFFFFF;
  box-shadow:1px 5px 7px 1px rgba(255, 255, 255, 255)
}

  @media all and (max-width:30em){
  
    .Default-Links{
    display:block;
    margin:0.4em auto;

   }
  } 